body {
    margin: 24px;
    background: #f0f0f0;
    color: #505050;
}

a , span {
    color:#000;
}

.container{
    position: relative;
    width:960px;
    margin:0 auto;
}

header{
    border-bottom:5px solid #0096b2
}

#logo{
    text-align: center;
    margin-bottom: 1em;
}

#logo h2{
    font-size: 25px;
}

nav{
    margin-top:1em;
    margin-bottom: 1.5em;
    text-align: center;
}

nav ul li{
    display:inline;
    margin-left:10px;
    background-color: #0096b2;
    padding:0.5em;
    position: relative;
}

nav ul li:hover{
    background-color: #00b1d1;
}

nav ul li a{
    color:#fff;
}

.data , #leftColumn , #rightColumn {
    display: block;
    margin: 0 0 30px 0;
    padding: 12px;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    border: none;
    transition: all 220ms;
}

#leftColumn{
    width: 30%;
    float: left;
}

#rightColumn{
    margin-left: 15px;
    width: 60%;
    float: left;
}

form{
    text-align: center;
}

input , #season , #server{
    padding:0.6em;
    margin-right: 0.3em;
}

input[type=submit]{
    background-color: #0096b2;
    color: #fff;
    cursor: pointer;
    transition: all 220ms;
}

input[type=submit]:hover{
    background-color: #fff;
    color: #0096b2;
    border: 1px solid #0096b2;
    transition: all 220ms;
}

.data:hover , #leftColumn:hover , #rightColumn:hover {
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    border: 3px solid #0096b2;
    transition: all 220ms;
}
.data > img , #leftColumn img {
    display: block;
    width: 100%;
    margin: 0 0 24px 0;
}

.data h3 , #leftColumn h3 , #rightColumn h3{
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin:12px 0 12px 0;
    color: #ff0000;
}

#rightColumn span{
    font-size: 14px;
}

#rightColumn h6{
    color:#ff0000;
}

.redTeam , .greenTeam{
    float:left;
    margin-left:10px;
    text-align: center;
    width: 16%;
    padding:5px;
}

.redTeam{
    background-color: #ff0000;
}

.greenTeam{
    background-color: #00ff00;
    margin-top:1em;
}

.redTeam span{
    color: #fff;
}

.greenTeam span{
    color: #000;
}

.wall {
    display: block;
    position: relative;
    margin-top:1em;
    color: #000000;
}
.wall-column {
    display: block;
    position: relative;
    width: 33.333333%;
    float: left;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
}
.wall-column:first-child {
    padding-right: 12px;
}
.wall-column ~ .wall-column {
    padding-left: 12px;
    padding-right: 12px;
}
.wall-column:last-of-type {
    padding-right: 0;
}
@media (max-width: 640px) {
    .wall-column {
        width: 50%;
    }
}
@media (max-width: 480px) {
    .wall-column {
        width: auto;
        float: none;
        padding: 0;
    }
}

.tags{
    text-align: center;
}

.tags li {
    display:inline;
    margin-left:15px;
    background-color: #ffffff;
    padding:0.5em;
    cursor: pointer;
    border:none;
    transition: all 220ms;
}

.tags li:hover{
    border: 3px solid #0096b2;
    transition: all 220ms;
}


